[settings]
DNS_PROVIDER = cloudflare
CHECK_INTERVAL = 60
AUTO_UPDATE = false
AUTO_UPDATE_INTERVAL = 3600

[logging]
LOG_FILE = curtsddns.log
LOG_LEVEL = INFO
LOG_MAX_BYTES = 1048576
LOG_BACKUP_COUNT = 5

[cloudflare]
CLOUDFLARE_API_TOKEN =
CLOUDFLARE_ZONE_ID =
CLOUDFLARE_RECORD_NAME =
